<launch>
  <include file="$(find sr_moveit_hand_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node name="get_ik"
        pkg="moveit_shadow_test"
        type="get_ik"
        respawn="false" output="screen">
    <rosparam command="load"
              file="$(find sr_moveit_hand_config)/config/kinematics.yaml"/>
  </node>
</launch>